<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.Столовые_приборыConnectionString"
            connectionString="Data Source=LAB206_2\SQLEXPRESS;Initial Catalog=&quot;Столовые приборы&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>